table{
  width:100%;
  margin-bottom:32px;
}


tr:nth-child(odd){
  background:#f1f3cf;
}

.form tr{
  background:transparent;
}
.form td{
  padding:4px;
}

.sidebar{
  top:0px;
  width:32%;
}

.sidebar h1{
  color:#652221;
  font-size:21px;
  font-weight:normal;
}

.sidebar h2{
  font-family:'Droid Serif', serif;
  font-size:15px;
}

.breadcrumb{
  font-weight:bold;
  color:#652221;
  margin-bottom: 20px;
}

.sidebar hr{
  clear:both;
  border:none;
  height:4px;
  background: rgb(117,59,52); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(117,59,52,1) 0%, rgba(234,237,182,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(117,59,52,1)), color-stop(100%,rgba(234,237,182,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(117,59,52,1) 0%,rgba(234,237,182,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(117,59,52,1) 0%,rgba(234,237,182,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(117,59,52,1) 0%,rgba(234,237,182,1) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(117,59,52,1) 0%,rgba(234,237,182,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#753b34', endColorstr='#eaedb6',GradientType=1 ); /* IE6-9 */
}


.content h1{
  font-family:'Droid Serif', serif;
}
.content h2{
  color:#652221;
}

.content a{
  color:inherit;
}

.tdHeader{
  font-weight:bold;
  text-align:right;
  width:30%;
  padding-right:32px;
  color:#131f19;
}

.descriptive .tdHeader{
  width:30%;
}

.thumb{
  display:inline-block;
  border:3px solid #FFF;
  margin:12px;
  height:62px;
}

.contentBG{
  padding:30px;
  background: -moz-linear-gradient(top, rgba(251,252,243,0.5) 0%, rgba(234,237,182,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,252,243,0.5)), color-stop(50%,rgba(234,237,182,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(251,252,243,0.5) 0%,rgba(234,237,182,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(251,252,243,0.5) 0%,rgba(234,237,182,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(251,252,243,0.5) 0%,rgba(234,237,182,1) 50%); /* IE10+ */
  background: linear-gradient(top, rgba(251,252,243,0.5) 0%,rgba(234,237,182,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80fbfcf3', endColorstr='#eaedb6',GradientType=0 ); /* IE6-9 */
  border-radius:5px;
}
