body{
  padding:0px;
  margin:0px;
  background:#eaedb6;
  text-align:center;
  font-family:Arial;
  font-size:14px;
}

img{
  padding:0px;
  margin:0px;
  border:none;
}

p{
  text-align:justify;
  line-height: 20px;
}

.container{
  width:1024px;
  margin:auto auto;
  text-align:left;
  z-index:1;
  position:relative;
}

.header{
  height:130px;
  background-position:left center;
  background-repeat:no-repeat;
  text-align:center;
  margin-bottom:32px;
}

.navigation{
  width:65%;
  margin:auto auto;
  font-size:19.45px;
  font-family:'Droid Serif', serif;
  padding-top:45px;
  color:#662221;
}

.navigation img{
  vertical-align:middle;
  margin-left:4px;
  margin-right:4px;
}

.subMenu{
  position:absolute;
  height:0;
  overflow:hidden;
  z-index:2;
}

.subMenu div{
background: #dde9f0; /* Old browsers */
background: -moz-linear-gradient(top, #dde9f0 1%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dde9f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dde9f0 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dde9f0 1%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dde9f0 1%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top, #dde9f0 1%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde9f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
-webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
border-left: solid 1px #C5B48D;
border-bottom: solid 1px #C5B48D;
border-right: solid 1px #C5B48D;
  padding:19px;
  font-size:16px;
  text-align:left;
}

.subMenu div ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.subMenu div ul li {
	margin: 0 0 14px 0;
}

.subMenu div ul li a {
	padding: 6px 14px;
}


.navigation a{
  text-decoration:none;
  color:#662221;
}
.navigation a:hover{
  text-decoration:underline;
}

.subMenu div ul li a:hover {
	background: #662221;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.languageBar{
  float:right;
  width:150px;
  margin-top:32px;
  background:#e3edf3;
  border-radius:10px;
  color:#3d73b2;
  font-weight:bold;
  font-size:12px;
  padding:8px;
  padding-left:4px;
  padding-right:4px;
}

.languageBar select{
  margin-top:4px;
  width:90%;
  border:1px solid #adb3b6;
  border-radius:3px;
  padding:2px;
  -webkit-appearance:none;
  -moz-appearance:none;
  background: #f4fbfe url("../images/downArrow.png") no-repeat right center; /* Old browsers */
  background: url("../images/downArrow.png") no-repeat right center, -moz-linear-gradient(top, #f4fbfe 0%, #f4fbfe 50%, #d6ebf7 100%); /* FF3.6+ */
  background: url("../images/downArrow.png") no-repeat right center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4fbfe), color-stop(50%,#f4fbfe), color-stop(100%,#d6ebf7)); /* Chrome,Safari4+ */
  background: url("../images/downArrow.png") no-repeat right center, -webkit-linear-gradient(top, #f4fbfe 0%,#f4fbfe 50%,#d6ebf7 100%); /* Chrome10+,Safari5.1+ */
  background: url("../images/downArrow.png") no-repeat right center, -o-linear-gradient(top, #f4fbfe 0%,#f4fbfe 50%,#d6ebf7 100%); /* Opera 11.10+ */
  background: url("../images/downArrow.png") no-repeat right center, -ms-linear-gradient(top, #f4fbfe 0%,#f4fbfe 50%,#d6ebf7 100%); /* IE10+ */
  background: url("../images/downArrow.png") no-repeat right center, linear-gradient(top, #f4fbfe 0%,#f4fbfe 50%,#d6ebf7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbfe', endColorstr='#d6ebf7',GradientType=0 ); /* IE6-9 */
}

.content{
  float:left;
  width:614px;
  position:relative;
}

.post h1, h1{
  font-family:'Droid Serif', serif;
  font-weight: normal;
  color:#132019;
  font-size:36px;
  margin: 0 0 15px 0;
}

.post h2, h2{
  font-family:'Droid Serif', serif;
  font-weight: normal;
  color:#652221;
  font-size:28px;
  margin: 20px 0 35px 0;
  border-bottom: solid 1px #C5B48D;
  padding-bottom: 6px;
}

.post h3, h3{
  font-family:'Droid Serif', serif;
  font-weight: normal;
  color:#132019;
  font-size:22px;
  line-height: 28px;
  margin: 0 0 12px 0;
}

.post h3 span{
	font-style:italic;
	color:#652221;
}

.post h3 a{
	text-decoration: none;
}

.post h3 a:hover{
	text-decoration: underline;
}

.post img{
  float:left;
  margin-right:14px;
  margin-left:0px;
}

.post .nofloat{
  float:none;
  margin:0px;
}

.post a{
  color:#652120;
  text-decoration:underline;
}

/* .post a img{
  padding-bottom:2px;
} */

.post a img.apartment:hover{
  -webkit-box-shadow: 0px 0px 8px 3px #652221;
  -moz-box-shadow: 0px 0px 8px 3px #652221;
  box-shadow: 0px 0px 8px 3px #652221;
}

.imagePreview{
  background: url(../images/photo-background.png) no-repeat 0 0;
  position:relative;
  width: 604px;
  height:314px;
  margin:0 0 14px -6px;
}

.imagePreview img{
  z-index:-1;
  margin: 21px 0 0 20px;
}

.scroller{
  position:absolute;
  top:4px;
  cursor:pointer;
}

.right{
  right:0px;
}

.previewLoader{
  visibility:visible;
  position:absolute;
  top:0px;
  left:0px;
  z-index:0!important;
}

.thumbnailSlider{
  height:70px;
  overflow:hidden;
  position:relative;
  width:516px;
  margin:auto auto;
}

.thumbnailContainer{
  position:absolute;
  left:0px;
  padding:0px;
  margin:0px;
  width:10000px;
}

.thumbnails{
  display:inline-block;
  list-style-type:none;
  padding:0px;
  margin:0px;
  padding-left:12px;
}

.thumbnails li{
  display:inline-block;
  border:3px solid #FFF;
  margin-right:13px;
  height:62px;
  cursor:pointer;
}

.sidebar{
  float:right;
  width:35%;
  position:relative;
  top:-40px;
  z-index:0;
  display:inline-block;
}

.sidebar h1{
  font-family:'Droid Serif', serif;
  color:#132019;
  font-size:27px;
}

.sidebar h2{
  font-family:'Droid Serif', serif;
  color:#652221;
  font-size:21px;
  text-decoration:underline;
}

.sidebar a{
  color:#652120;
}

.footer{
  clear:both;
  color:#acb287;
  font-size:12px;
  padding-top:16px;
  margin-bottom:32px;
}

.footer hr{
  border:1px solid #acb287;
  border-top:none;
}

.footer a{
  text-decoration:underline;
  color:inherit;
}

.bg{
  width:100%;
  height:613px;
  margin:auto auto;
  position:absolute;
  z-index:0;
  background-image:url('../images/bg.jpg');
  background-position:top center;
  background-repeat:no-repeat;
}

.apartmentWrap {
	width: 100%;
	margin-bottom: 30px;
}

.apartmentWrap img.apartment {
	width: 80px;
	height: 80px;
}

.apartmentWrap .left {
	width: 95px;
	float: left;
}

.apartmentWrap .right {
	width: 185px;
	float: left;
}

.clear {
	clear: both;
}

.item h2 {
	border-bottom: none;
	margin-bottom: 13px !important;
}
